In [157]:
import pandas as pd
from pandas.plotting import scatter_matrix
import numpy as np
import matplotlib
%matplotlib inline
import seaborn as sns
import missingno as msno
import shap
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, StratifiedKFold, cross_val_score
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

### 결측치 점검

In [158]:
df_raw = pd.read_csv('C:\\Users\\user\\Downloads\\0822_H_data.csv')

df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14956 entries, 0 to 14955
Columns: 254 entries, id to hm_01_rel_t
dtypes: float64(178), int64(74), object(2)
memory usage: 29.0+ MB

In [159]:
df = df_raw.drop(['emp_keep_a', 'hazard_phy_d','hazard_phy_a','hazard_phy_c','hazard_phy_e','hazard_phy_f','hazard_phy_g','hazard_phy_h', 'hazard_phy_i', 'ch_downsizing', 'job_c1_r', 'job_c1', 'emp_pay_type', 'skillmat', 'emp_comp_com_a','emp_comp_com_b','emp_comp_com_c','ch_ic','ch_restruct','wplace_sl','emp_noncon', 'wcomback'], axis = 1)

In [160]:
# 널값 개수와 비율 계산
null_summary = (
    df.isnull().sum()
      .to_frame("널값 개수")
      .assign(널값비율 = lambda x: (x["널값 개수"] / len(df_raw) * 100).round(2))
      .reset_index()
      .rename(columns={'index': '컬럼명'})
)

# 널값 있는 열만 필터링 & 비율 기준 내림차순 정렬
null_summary = (
    null_summary[null_summary["널값 개수"] > 0]
    .sort_values(by="널값비율", ascending=False)
    .reset_index(drop=True)
)

print(null_summary)

                  컬럼명  널값 개수  널값비율
0         comp_size_b    870  5.82
1        wtime_ftwork    584  3.90
2            emp_keep    581  3.88
3          emo_manual    307  2.05
4    wtime_resilience    279  1.87
..                ...    ...   ...
150       wsituation7      2  0.01
151      wsituation13      1  0.01
152            wstat1      1  0.01
153         winten2_a      2  0.01
154     wtime_length3      2  0.01

[155 rows x 3 columns]

In [161]:
# start 파일
# df.to_csv("2PD_v1_0822.csv", encoding="CP949")

### 중복 피쳐 삭제/8,9->결측치 수정

In [162]:
# 불필요한 피쳐 삭제하기 (14개)
df = df.drop(columns=["ptime_r", "stratification", "district", "household", "target", "mode", "hh_num", "eli_num", "hm_01_gender", "hm_01_year", "hm_01_estat", "hm_01_rel_t","wtime_week", "earning1_r"])

print(df)

              id burnout60  area  gender  age  wduration_y  earning1  \
0      1000042_1       lv1     1       1   49           10       500
1      1000051_1       lv2     1       1   31            2       300
2      1000056_1       lv1     1       1   32            2       300
3      1000069_1       lv1     1       1   38            2       390
4      1000069_2       lv1     1       2   37            5       330
...          ...       ...   ...     ...  ...          ...       ...
14951  2010124_1       lv1     7       1   37            6       450
14952  2010133_1       lv2     7       2   46            3       230
14953  2010134_2       lv1     7       2   34            5       320
14954  2010137_1       lv1     7       1   57            5       450
14955  2010137_2       lv1     7       2   29            3       350

       earning2_r  wtime_r  woutside4_a  ...  edu  marital  children  \
0               6     40.0            1  ...  5.0      1.0       1.0
1               4     48.0            1  ...  6.0      2.0       2.0
2               4     50.0            1  ...  5.0      2.0       2.0
3               4     40.0            1  ...  6.0      1.0       1.0
4               4     40.0            1  ...  6.0      1.0       2.0
...           ...      ...          ...  ...  ...      ...       ...
14951           5     40.0            1  ...  6.0      2.0       2.0
14952           3     40.0            1  ...  5.0      2.0       2.0
14953           4     40.0            1  ...  6.0      2.0       2.0
14954           5     40.0            1  ...  6.0      1.0       1.0
14955           4     40.0            1  ...  6.0      2.0       2.0

       panel_survey  ind  ind2  occ  occ2  comp_sizea_r  comp_sizeb_r
0                 2    7    46    3   313           4.0             4
1                 2    7    47    3   312          11.0            11
2                 2    9    56    4   441           2.0             2
3                 2    6    42    3   312          10.0            10
4                 2   13    71    2   273           7.0             7
...             ...  ...   ...  ...   ...           ...           ...
14951             2   16    85    2   252           6.0             6
14952             2    8    52    3   313           4.0             4
14953             2   11    64    3   320           4.0             4
14954             2    7    46    5   510           4.0             4
14955             2   10    61    7   772           4.0             4

[14956 rows x 218 columns]

In [163]:
# 전처리: 8, 9 NULL (5개)
cols = ["hazard_erg_a", "hazard_erg_b", "hazard_erg_c", "hazard_erg_d", "hazard_erg_e"]

df[cols] = df[cols].replace([8, 9], pd.NA)

print(df['hazard_erg_a'].unique())
print(df['hazard_erg_b'].unique())
print(df['hazard_erg_c'].unique())
print(df['hazard_erg_d'].unique())
print(df['hazard_erg_e'].unique())

[6 2 1 7 5 4 3 <NA>]
[1 5 6 3 4 7 2 <NA>]
[ 7.  6.  2.  5.  4.  3.  1. nan]
[ 7.  2.  5.  4.  6.  3. nan  1.]
[ 7.  3.  5.  6.  4.  2.  1. nan]

In [164]:
# 잘못 변경된 변수명 복원
df.rename(columns={
    "wsituation": "wsituation8",
    "wsituation.1": "wsituation9",
    "disc": "disc9",
    "disc.1": "disc8"
}, inplace=True)

### 긍/부정 변경

In [165]:
df["wstat4"].head(10)

0    2
1    2
2    2
3    3
4    5
5    5
6    5
7    5
8    5
9    5
Name: wstat4, dtype: int64

In [166]:
# 긍/부정 변경
# 5점 척도

cols = [
    "wstat4", "wstat6",
    "wwa1", "wwa2", "wwa3", "wwa4", "wwa5",
    "sleep1", "sleep2", "sleep3",
    "imte1", "imte2", "imte3", "imte4", "imte5",
    "wsituation12", "wsituation14"
]

# 변환 딕셔너리 (5점 척도 역코딩)
reverse_map = {1: 5, 2: 4, 3: 3, 4: 2, 5: 1}

# 여러 열에 적용
for col in cols:
    df[col] = df[col].map(reverse_map).fillna(df[col])

df["wstat4"].head(10)

0    4
1    4
2    4
3    3
4    1
5    1
6    1
7    1
8    1
9    1
Name: wstat4, dtype: int64

In [167]:
# 3점 척도 
cols_2 = [
   "heal_lim1"
]

# 변환 딕셔너리 (3점 척도 역코딩)
reverse_map = {1: 3, 2: 2, 3: 1}

# 여러 열에 적용
for col in cols_2:
    df[col] = df[col].map(reverse_map).fillna(df[col])


#%%
print(df.columns.tolist())
#%%
print(df[cols_2].head())
#%%
df["heal_lim1"].head(10) 
#%%

['id', 'burnout60', 'area', 'gender', 'age', 'wduration_y', 'earning1', 'earning2_r', 'wtime_r', 'woutside4_a', 'wtime_length5', 'age_group', 'emp_period_group', 'wtime_group', 'compsize_group', 'woutside_group', 'compsize_group_a', 'wday_week_group_a', 'woutside4_group_a', 'occ_t2_group_a', 'earning2_group_b', 'occ_group_a', 'emp_stat', 'emp_con_term', 'emp_keep', 'emp_own_mgmt', 'emp_fptime', 'emp_wage', 'emp_stat_sp', 'income_pos_a', 'income_pos_b', 'income_pos_c', 'income_pos_d', 'income_pos_e', 'income_pos_f', 'income_pos_g', 'income_pos_h', 'income_pos_i', 'income_pos_j', 'emp_place', 'emp_suggest_a', 'emp_suggest_b', 'emp_boss_gender', 'emp_manaqual_a', 'emp_manaqual_b', 'emp_manaqual_c', 'emp_manaqual_d', 'emp_manaqual_e', 'emp_comp_ass_a', 'emp_comp_ass_b', 'emp_comp_ass_c', 'emp_comp_ass_d', 'emp_comp_ass_e', 'emp_comp_ass_f', 'emp_rep', 'emp_winflu_a', 'emp_winflu_b', 'emp_winflu_c', 'emp_tra_b', 'emp_tra_c', 'emp_tra_d', 'wsector', 'comp_size_a', 'comp_size_b', 'comp_female', 'comp_sjob', 'ch_tech', 'ch_me', 'ch_ps', 'imte1', 'imte2', 'imte3', 'imte4', 'imte5', 'safeinform', 'wsituation1', 'wsituation2', 'wsituation3', 'wsituation4', 'wsituation5', 'wsituation11', 'wsituation6', 'wsituation7', 'wsituation8', 'wsituation9', 'wsituation10', 'wsituation12', 'wsituation13', 'wsituation14', 'wstat1', 'wstat2', 'wstat3', 'wstat4', 'wstat5', 'wstat6', 'wstat7', 'emo_manual', 'asb5', 'asb6', 'asb7', 'disc1', 'disc5', 'disc9', 'disc10', 'disc11', 'disc6', 'disc7', 'disc8', 'disc2', 'disc3', 'disc4', 'wtime_con1', 'wday', 'wday_week', 'ctime', 'wtime_night_a', 'wtime_sun_a', 'wtime_sat_a', 'wtime_long_a', 'wtime_night2', 'wtime_night3', 'wtime_resilience', 'wtime_arr_a', 'wtime_ftwork', 'wtime_ftcomtool', 'wtime_private', 'hazard_phy_b', 'hazard_erg_a', 'hazard_erg_b', 'hazard_erg_c', 'hazard_erg_d', 'hazard_erg_e', 'winten2_a', 'winten2_b', 'winten1_a', 'winten1_b', 'decla_a', 'decla_b', 'decla_c', 'winten3_a', 'winten3_b', 'winten3_c', 'winten3_d', 'winten3_e', 'winterrupt1', 'weng1', 'weng2', 'weng3', 'weng4', 'weng5', 'condim1', 'condim2', 'condim3', 'condim4', 'condim5', 'condim6', 'ass_cust1', 'alter_task1', 'wteam1', 'satisfaction', 'wplace4', 'wplace3', 'wplace2', 'wplace1', 'wpalce_ch', 'wtime_length1', 'wtime_length2', 'wtime_length3', 'wtime_length4', 'job1', 'wtime', 'wbalance', 'wwa1', 'wwa2', 'wwa3', 'wwa4', 'wwa5', 'heal_risk', 'heal_abs1', 'heal_wsick1', 'asb1', 'asb2', 'asb3', 'asb4', 'heal_aff', 'heal_cond', 'heal_illhe', 'heal_lim1', 'heal_prob1', 'heal_prob2', 'heal_prob3', 'heal_prob4', 'heal_prob5', 'heal_prob6', 'heal_prob8', 'sleep1', 'sleep2', 'sleep3', 'who1', 'who2', 'who3', 'who4', 'who5', 'woutside3', 'woutside4', 'woutside5', 'income_con', 'income_bal', 'edu', 'marital', 'children', 'panel_survey', 'ind', 'ind2', 'occ', 'occ2', 'comp_sizea_r', 'comp_sizeb_r']
   heal_lim1
0        1.0
1        1.0
2        1.0
3        1.0
4        1.0

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
7    1.0
8    1.0
9    1.0
Name: heal_lim1, dtype: float64

In [168]:
# 4점 척도
cols_1 = [
    "imte1", "imte2", "imte3", "imte4", "imte5",
]

# 변환 딕셔너리 (4점 척도 역코딩)
reverse_map = {1: 4, 2: 3, 3: 2, 4: 1}

# 여러 열에 적용
for col in cols_1:
    df[col] = df[col].map(reverse_map).fillna(df[col])


#%%
print(df.columns.tolist())
#%%
print(df[cols_1].head())
#%%
df["imte1"].head(10) 
#%%

['id', 'burnout60', 'area', 'gender', 'age', 'wduration_y', 'earning1', 'earning2_r', 'wtime_r', 'woutside4_a', 'wtime_length5', 'age_group', 'emp_period_group', 'wtime_group', 'compsize_group', 'woutside_group', 'compsize_group_a', 'wday_week_group_a', 'woutside4_group_a', 'occ_t2_group_a', 'earning2_group_b', 'occ_group_a', 'emp_stat', 'emp_con_term', 'emp_keep', 'emp_own_mgmt', 'emp_fptime', 'emp_wage', 'emp_stat_sp', 'income_pos_a', 'income_pos_b', 'income_pos_c', 'income_pos_d', 'income_pos_e', 'income_pos_f', 'income_pos_g', 'income_pos_h', 'income_pos_i', 'income_pos_j', 'emp_place', 'emp_suggest_a', 'emp_suggest_b', 'emp_boss_gender', 'emp_manaqual_a', 'emp_manaqual_b', 'emp_manaqual_c', 'emp_manaqual_d', 'emp_manaqual_e', 'emp_comp_ass_a', 'emp_comp_ass_b', 'emp_comp_ass_c', 'emp_comp_ass_d', 'emp_comp_ass_e', 'emp_comp_ass_f', 'emp_rep', 'emp_winflu_a', 'emp_winflu_b', 'emp_winflu_c', 'emp_tra_b', 'emp_tra_c', 'emp_tra_d', 'wsector', 'comp_size_a', 'comp_size_b', 'comp_female', 'comp_sjob', 'ch_tech', 'ch_me', 'ch_ps', 'imte1', 'imte2', 'imte3', 'imte4', 'imte5', 'safeinform', 'wsituation1', 'wsituation2', 'wsituation3', 'wsituation4', 'wsituation5', 'wsituation11', 'wsituation6', 'wsituation7', 'wsituation8', 'wsituation9', 'wsituation10', 'wsituation12', 'wsituation13', 'wsituation14', 'wstat1', 'wstat2', 'wstat3', 'wstat4', 'wstat5', 'wstat6', 'wstat7', 'emo_manual', 'asb5', 'asb6', 'asb7', 'disc1', 'disc5', 'disc9', 'disc10', 'disc11', 'disc6', 'disc7', 'disc8', 'disc2', 'disc3', 'disc4', 'wtime_con1', 'wday', 'wday_week', 'ctime', 'wtime_night_a', 'wtime_sun_a', 'wtime_sat_a', 'wtime_long_a', 'wtime_night2', 'wtime_night3', 'wtime_resilience', 'wtime_arr_a', 'wtime_ftwork', 'wtime_ftcomtool', 'wtime_private', 'hazard_phy_b', 'hazard_erg_a', 'hazard_erg_b', 'hazard_erg_c', 'hazard_erg_d', 'hazard_erg_e', 'winten2_a', 'winten2_b', 'winten1_a', 'winten1_b', 'decla_a', 'decla_b', 'decla_c', 'winten3_a', 'winten3_b', 'winten3_c', 'winten3_d', 'winten3_e', 'winterrupt1', 'weng1', 'weng2', 'weng3', 'weng4', 'weng5', 'condim1', 'condim2', 'condim3', 'condim4', 'condim5', 'condim6', 'ass_cust1', 'alter_task1', 'wteam1', 'satisfaction', 'wplace4', 'wplace3', 'wplace2', 'wplace1', 'wpalce_ch', 'wtime_length1', 'wtime_length2', 'wtime_length3', 'wtime_length4', 'job1', 'wtime', 'wbalance', 'wwa1', 'wwa2', 'wwa3', 'wwa4', 'wwa5', 'heal_risk', 'heal_abs1', 'heal_wsick1', 'asb1', 'asb2', 'asb3', 'asb4', 'heal_aff', 'heal_cond', 'heal_illhe', 'heal_lim1', 'heal_prob1', 'heal_prob2', 'heal_prob3', 'heal_prob4', 'heal_prob5', 'heal_prob6', 'heal_prob8', 'sleep1', 'sleep2', 'sleep3', 'who1', 'who2', 'who3', 'who4', 'who5', 'woutside3', 'woutside4', 'woutside5', 'income_con', 'income_bal', 'edu', 'marital', 'children', 'panel_survey', 'ind', 'ind2', 'occ', 'occ2', 'comp_sizea_r', 'comp_sizeb_r']
   imte1  imte2  imte3  imte4  imte5
0    1.0    1.0    1.0    5.0    5.0
1    1.0    1.0    5.0    5.0    1.0
2    1.0    1.0    2.0    2.0    1.0
3    3.0    3.0    3.0    2.0    3.0
4    2.0    2.0    1.0    3.0    2.0

0    1.0
1    1.0
2    1.0
3    3.0
4    2.0
5    2.0
6    2.0
7    1.0
8    2.0
9    2.0
Name: imte1, dtype: float64

### 연속형 변수 재범주화

In [169]:
df['heal_abs1'].value_counts()

heal_abs1
0.0      14127
2.0        181
1.0        127
3.0        113
5.0         80
7.0         65
10.0        31
8.0         25
4.0         24
6.0         10
15.0         9
20.0         6
30.0         6
14.0         5
13.0         5
12.0         4
90.0         3
60.0         2
11.0         1
180.0        1
120.0        1
50.0         1
21.0         1
Name: count, dtype: int64

In [170]:
# 범주화 

df["heal_abs1_group"] = np.where(df["heal_abs1"] == 0, 0, 1)
df['heal_abs1_group'] = df['heal_abs1_group'].map({0: 1, 1: 2})
#%%
print(df["heal_abs1_group"].head())
#%%
df["heal_abs1_group"].value_counts()

0    1
1    1
2    1
3    1
4    1
Name: heal_abs1_group, dtype: int64

heal_abs1_group
1    14127
2      829
Name: count, dtype: int64

In [171]:
# 구간 (0~60, 61~120, 121 이상)
bins = [0, 60, 120, float("inf")]
labels = [1, 2, 3]

df["ctime_group"] = pd.cut(df["ctime"], bins=bins, labels=labels, right=True)
#%%
print(df["ctime_group"].head())
#%%
df["ctime_group"].value_counts()
#%%

0      1
1      1
2      1
3      2
4    NaN
Name: ctime_group, dtype: category
Categories (3, int64): [1 < 2 < 3]

ctime_group
1    12582
2     1150
3      328
Name: count, dtype: int64

In [172]:
# 파생변수로 대체된 컬럼 삭제
df = df.drop(['heal_abs1','ctime'], axis = 1)
print(df)

              id burnout60  area  gender  age  wduration_y  earning1  \
0      1000042_1       lv1     1       1   49           10       500
1      1000051_1       lv2     1       1   31            2       300
2      1000056_1       lv1     1       1   32            2       300
3      1000069_1       lv1     1       1   38            2       390
4      1000069_2       lv1     1       2   37            5       330
...          ...       ...   ...     ...  ...          ...       ...
14951  2010124_1       lv1     7       1   37            6       450
14952  2010133_1       lv2     7       2   46            3       230
14953  2010134_2       lv1     7       2   34            5       320
14954  2010137_1       lv1     7       1   57            5       450
14955  2010137_2       lv1     7       2   29            3       350

       earning2_r  wtime_r  woutside4_a  ...  children  panel_survey  ind  \
0               6     40.0            1  ...       1.0             2    7
1               4     48.0            1  ...       2.0             2    7
2               4     50.0            1  ...       2.0             2    9
3               4     40.0            1  ...       1.0             2    6
4               4     40.0            1  ...       2.0             2   13
...           ...      ...          ...  ...       ...           ...  ...
14951           5     40.0            1  ...       2.0             2   16
14952           3     40.0            1  ...       2.0             2    8
14953           4     40.0            1  ...       2.0             2   11
14954           5     40.0            1  ...       1.0             2    7
14955           4     40.0            1  ...       2.0             2   10

       ind2  occ  occ2  comp_sizea_r  comp_sizeb_r  heal_abs1_group  \
0        46    3   313           4.0             4                1
1        47    3   312          11.0            11                1
2        56    4   441           2.0             2                1
3        42    3   312          10.0            10                1
4        71    2   273           7.0             7                1
...     ...  ...   ...           ...           ...              ...
14951    85    2   252           6.0             6                1
14952    52    3   313           4.0             4                1
14953    64    3   320           4.0             4                1
14954    46    5   510           4.0             4                1
14955    61    7   772           4.0             4                1

       ctime_group
0                1
1                1
2                1
3                2
4              NaN
...            ...
14951            1
14952            1
14953            1
14954            1
14955            2

[14956 rows x 218 columns]

### 중복 피쳐 삭제

In [173]:
# 1차 프로젝트에서 파생변수 만들었던 변수 삭제
df = df.drop(['occ', 'occ2', 'age', 'earning2_r', 'wday_week', 'woutside4', 'wtime_r', 'wduration_y'], axis = 1)

### 상관관계 매트릭스 분석

In [174]:
import seaborn as sns
import matplotlib.pyplot as plt

corr = df.corr(numeric_only=True)
# sns.heatmap(corr, cmap="coolwarm", center=0)
# plt.show()

In [175]:
# 상관계수 절댓값이 0.8 이상인 쌍만 추출 (자기 자신 제외)
high_corr = (
    corr.where(np.triu(np.ones(corr.shape), k=1).astype(bool))  
        .stack()                                               
        .reset_index()
        .rename(columns={'level_0': '변수1', 'level_1': '변수2', 0: '상관계수'})
)

# 조건 필터링
high_corr = high_corr[high_corr['상관계수'].abs() >= 0.8]

print(high_corr.sort_values(by='상관계수', ascending=False).head(20))

                    변수1           변수2      상관계수
10060       comp_size_b  comp_sizeb_r  1.000000
10059       comp_size_b  comp_sizea_r  1.000000
15552             disc3         disc4  0.988628
20492               ind          ind2  0.985571
15452             disc2         disc3  0.984493
15453             disc2         disc4  0.982562
1780     compsize_group  comp_sizeb_r  0.975227
1636     compsize_group   comp_size_b  0.969841
15351             disc8         disc2  0.962101
15353             disc8         disc4  0.956305
15352             disc8         disc3  0.954483
15249             disc7         disc8  0.944109
15250             disc7         disc2  0.920967
20499      comp_sizea_r  comp_sizeb_r  0.920086
2165   compsize_group_a  comp_sizeb_r  0.916659
15252             disc7         disc4  0.913893
15251             disc7         disc3  0.913422
1779     compsize_group  comp_sizea_r  0.910546
2021   compsize_group_a   comp_size_b  0.893071
15146             disc6         disc7  0.886284

In [176]:
unique_vars = set(high_corr['변수1']).union(set(high_corr['변수2']))
print("조건 충족하는 변수 개수:", len(unique_vars))
print("변수 목록:", unique_vars)

조건 충족하는 변수 개수: 23
변수 목록: {'disc2', 'comp_sizea_r', 'compsize_group', 'disc6', 'woutside_group', 'ind', 'earning1', 'earning2_group_b', 'winten2_b', 'comp_size_b', 'disc3', 'disc7', 'decla_b', 'decla_a', 'woutside4_a', 'disc8', 'winten3_c', 'disc4', 'winten2_a', 'winten3_d', 'ind2', 'compsize_group_a', 'comp_sizeb_r'}

In [177]:
# 상관분석 결과 필요없는 변수 삭제
df = df.drop(['comp_size_b', 'comp_sizea_r', 'comp_sizeb_r', 'ind', 'ind2', 'earning1', 'woutside4_a'], axis = 1)

In [178]:
# disc 변수 : 차별 유/무로 파생변수 생성
cols = ['disc1','disc2','disc3','disc4','disc5',
        'disc6','disc7','disc8','disc9','disc10','disc11']

# 하나라도 1이 있으면 1, 아니면 0
df['disc_group'] = (df[cols].sum(axis=1) > 0).astype(int)

df['disc_group'] = df['disc_group'].map({0: 1, 1: 2})

print(df['disc_group'].unique())

[2 1]

In [179]:
# decla 변수 : 작업선택의 가능성 유/무로 파생변수 생성
cols = ['decla_a','decla_b']

# 하나라도 1이 있으면 1, 아니면 0
df['decla_group'] = (df[cols].sum(axis=1) > 0).astype(int)

df['decla_group'] = df['decla_group'].map({0: 1, 1: 2})

print(df['decla_group'].unique())

[2 1]

In [180]:
# winten2 변수 : 작업 강도가 세다로 파생변수 생성(7점 척도)
cols = ['winten2_a','winten2_b']

# 둘 중 하나라도 있으면 최대값
df['winten2_group'] = df[cols].max(axis=1, skipna=True)

print(df['winten2_group'].unique())

[ 5.  6.  7.  1.  4.  3.  2. nan]

In [181]:
# winten3 변수 : 작업선택의 가능성 유/무로 파생변수 생성
cols = ['winten3_c','winten3_d', 'winten3_a', 'winten3_b', 'winten3_e']

# 하나라도 1이 있으면 1, 아니면 0
df['winten3_group'] = (df[cols].sum(axis=1) > 0).astype(int)

df['winten3_group'] = df['winten3_group'].map({0: 1, 1: 2})

print(df['winten3_group'].unique())

[2 1]

In [182]:
# 파생변수로 대체된 컬럼 삭제
df = df.drop(['disc1','disc2','disc3','disc4','disc5',
              'disc6','disc7','disc8','disc9','disc10','disc11','decla_a','decla_b','winten2_a','winten2_b', 'winten3_c','winten3_d', 'winten3_a', 'winten3_b', 'winten3_e'], axis = 1)

### 조작적 정의에 사용된 변수 삭제

In [183]:
df = df.drop(['weng1','weng2','weng3','wsituation14','wwa2','sleep2','sleep3','weng4','weng5','wsituation1','wstat4','wsituation2','wsituation12', 'wsituation10','wsituation9'], axis = 1)

### 널값 삭제

In [184]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14956 entries, 0 to 14955
Columns: 172 entries, id to winten3_group
dtypes: category(1), float64(133), int64(34), object(4)
memory usage: 19.5+ MB

In [185]:
df_new = df.dropna()

In [186]:
df_new

,id,burnout60,area,gender,wtime_length5,age_group,emp_period_group,wtime_group,compsize_group,woutside_group,...,edu,marital,children,panel_survey,heal_abs1_group,ctime_group,disc_group,decla_group,winten2_group,winten3_group
0,1000042_1,lv1,1,1,2,4,5,2,4,0,...,5.0,1.0,1.0,2,1,1,2,2,5.0,2
1,1000051_1,lv2,1,1,2,3,2,2,11,0,...,6.0,2.0,2.0,2,1,1,2,2,6.0,2
2,1000056_1,lv1,1,1,2,3,2,2,1,0,...,5.0,2.0,2.0,2,1,1,2,2,5.0,2
3,1000069_1,lv1,1,1,2,3,2,2,10,0,...,6.0,1.0,1.0,2,1,2,2,2,7.0,2
5,1000077_1,lv1,1,1,2,3,2,2,10,0,...,6.0,1.0,2.0,2,1,1,2,2,6.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14949,2009922_1,lv1,13,1,1,3,5,2,12,1,...,6.0,2.0,2.0,2,1,1,2,2,4.0,2
14952,2010133_1,lv2,7,2,2,4,3,2,4,0,...,5.0,2.0,2.0,2,1,1,2,2,4.0,2
14953,2010134_2,lv1,7,2,2,3,4,2,4,0,...,6.0,2.0,2.0,2,1,1,2,2,5.0,2
14954,2010137_1,lv1,7,1,2,5,4,2,4,0,...,6.0,1.0,1.0,2,1,1,2,2,5.0,2
14955,2010137_2,lv1,7,2,2,2,3,2,4,0,...,6.0,2.0,2.0,2,1,2,2,2,5.0,2

### AutoML

In [187]:
df_new['burnout60'].unique()

array(['lv1', 'lv2', 'lv3'], dtype=object)

In [188]:
# 타겟 클래스번호 전처리
df_new['burnout60'] = df_new['burnout60'].replace("lv1", 1)
df_new['burnout60'] = df_new['burnout60'].replace("lv2", 2)
df_new['burnout60'] = df_new['burnout60'].replace("lv3", 3)
df_new['burnout60'].unique()

array([1, 2, 3], dtype=int64)

In [189]:
df_new['burnout60'] = df_new['burnout60'].astype('category')
print(df_new["burnout60"])

0        1
1        2
2        1
3        1
5        1
        ..
14949    1
14952    2
14953    1
14954    1
14955    1
Name: burnout60, Length: 11243, dtype: category
Categories (3, int64): [1, 2, 3]

In [190]:
# categories.values

In [191]:
categories = df_new.drop(columns=['id', 'burnout60']).columns

In [192]:
categories = categories.tolist()

In [193]:
from pycaret.classification import *
from sklearn.preprocessing import *
# import imblearn
setup_clf = setup(df_new, target = 'burnout60',
                  train_size = 0.8,
                  # ignore_features = ['pclass', 'adult_male', 'deck', 'embark_town', 'alive'],
                  # numeric_features = [],
                  categorical_features = categories,
                  # encoding_method = None,
                #   normalize = True,
                #   normalize_method = 'zscore',
                  # remove_outliers = True,
                #   feature_selection = True,
                  # feature_selection_method = 'classic',
                  # fix_imbalance = True,
                  # fix_imbalance_method = 'SMOTE',
                  fold=5,
                  n_jobs = - 1,
                  session_id = 1234)

In [194]:
X_train_transformed = get_config('X_train_transformed')
print(X_train_transformed)

              id  area_15.0  area_9.0  area_1.0  area_2.0  area_5.0  \
13039  1263166_1        1.0       0.0       0.0       0.0       0.0
8216   1146807_1        0.0       1.0       0.0       0.0       0.0
1529   1025402_2        0.0       0.0       1.0       0.0       0.0
1971   1034083_1        0.0       0.0       1.0       0.0       0.0
2748   1046201_1        0.0       0.0       0.0       1.0       0.0
...          ...        ...       ...       ...       ...       ...
12863  1254489_1        0.0       0.0       0.0       0.0       0.0
6917   1125201_1        0.0       0.0       0.0       0.0       0.0
5985   1103941_1        0.0       0.0       0.0       0.0       1.0
12451  1243720_1        0.0       0.0       0.0       0.0       0.0
10791  1192682_1        0.0       0.0       0.0       0.0       0.0

       area_10.0  area_12.0  area_3.0  area_17.0  ...  disc_group  \
13039        0.0        0.0       0.0        0.0  ...         1.0
8216         0.0        0.0       0.0        0.0  ...         1.0
1529         0.0        0.0       0.0        0.0  ...         1.0
1971         0.0        0.0       0.0        0.0  ...         1.0
2748         0.0        0.0       0.0        0.0  ...         1.0
...          ...        ...       ...        ...  ...         ...
12863        0.0        0.0       0.0        0.0  ...         1.0
6917         0.0        0.0       0.0        0.0  ...         1.0
5985         0.0        0.0       0.0        0.0  ...         1.0
12451        0.0        0.0       0.0        0.0  ...         1.0
10791        1.0        0.0       0.0        0.0  ...         1.0

       decla_group_2.0  winten2_group_6.0  winten2_group_4.0  \
13039              1.0                1.0                0.0
8216               1.0                1.0                0.0
1529               1.0                0.0                1.0
1971               1.0                0.0                0.0
2748               1.0                0.0                0.0
...                ...                ...                ...
12863              1.0                1.0                0.0
6917               1.0                0.0                0.0
5985               1.0                0.0                0.0
12451              1.0                1.0                0.0
10791              1.0                0.0                0.0

       winten2_group_3.0  winten2_group_2.0  winten2_group_5.0  \
13039                0.0                0.0                0.0
8216                 0.0                0.0                0.0
1529                 0.0                0.0                0.0
1971                 1.0                0.0                0.0
2748                 0.0                1.0                0.0
...                  ...                ...                ...
12863                0.0                0.0                0.0
6917                 0.0                0.0                0.0
5985                 1.0                0.0                0.0
12451                0.0                0.0                0.0
10791                0.0                0.0                0.0

       winten2_group_7.0  winten2_group_1.0  winten3_group_2.0
13039                0.0                0.0                1.0
8216                 0.0                0.0                1.0
1529                 0.0                0.0                1.0
1971                 0.0                0.0                1.0
2748                 0.0                0.0                1.0
...                  ...                ...                ...
12863                0.0                0.0                1.0
6917                 1.0                0.0                1.0
5985                 0.0                0.0                1.0
12451                0.0                0.0                1.0
10791                1.0                0.0                1.0

[8994 rows x 553 columns]

In [195]:
best = compare_models(fold=10, sort='AUC')